body{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.wrap{
  max-width: 1440px;
  margin: 0 auto;
}
.h1{ /* 타이틀문구 */
  font-size: 90px;
  font-weight: 700;
  color: #111;
  text-transform: uppercase;
}
.h2{ /* 섹션 제목 */
  font-size: 70px;
  font-weight: 400;
  color: #222 !important;
  text-transform: uppercase;
}
.h3{ /* 목록 제목 1 */
  font-size: 32px;
}
.h4{ /* 목록 제목 2 */
  font-size: 24px;
  font-weight: 600;
  color: #333;
}
.h5{ 
  font-size: 20px;
}
.h6{ /* 기본 사이즈 */
  font-size: 16px;
  font-weight: 600;
}
.p15{ /* 하단 */
  font-size: 15px;
}
.sm14{
  font-size: 14px
}
.sm13{ /* 아이콘명 */
  font-size: 13px
}
.sm11{
  font-size: 11px
}
.block{
  display: block;
}
.bold{
  font-weight: 700;
}
.paddingT20{
  padding-top: 20px;
}
.paddingB20{
  padding-bottom: 20px;
}
.paddingT30{
  padding-top: 30px;
}
.paddingB30{
  padding-bottom: 30px;
}
.paddingT40{
  padding-top: 40px;
}
.paddingB40{
  padding-bottom: 40px;
}
.paddingT50{
  padding-top: 50px;
}
.paddingB50{
  padding-bottom: 50px;
}
.marginB30{
  margin-bottom:40px; 
}
.current{
  background-color: #00f !important;
  color: #fff;
}
.flex{
  display:flex;
}
.grid{
  display: grid;
}
.hide{
  display: none;
}
/* 버튼 스타일 */
.b-medium{
  width: fit-content;
  padding: 10px;
  text-align: center;
}
.rounded{
  border-radius: 10px;
}
.p-color{
  
}
.clickBtn{
  background-color: #78d2d6 !important;
  opacity: 1 !important;
}
.top{
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  border: 5px double #a9cacd;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 5;
  background-color: #000000c7;
}
.top:hover{
  background-color: #23868b;
}
/* 보더스타일 */
.borderB{
  /*! border-bottom: 4px dashed #ccc; */
  padding-bottom: 5px;
  width: fit-content;
}










