@media screen and (max-width:768px){
  body{
    
  }
  header div.wrap nav{
    padding-top: 10px;
  }
  header div.wrap nav h1 a{
  }
  header div.wrap nav ul.gnb{
    display: none;
  }
  header div.wrap nav ul.enb{
    display: none;
  }
  header div.wrap nav button.ham{
    display: initial;
    background-image: url(../img/svg/menu.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    font-size: 0;
    background-position: center;
    cursor: pointer;
  }
  
}